{% extends 'whatcanido/base.html' %}
{% load static %}

<div class="jumbotron bg">
    {% block content %}
    <div class="main-content container">
        <div class="heading heading-contribute">
            donate to the most commited
        </div>
        <div class="card-container">
            <div class="card text-white bg-dark" style="margin-bottom: 20px;">
                <div class="card-body">

                    <h5 class="card-title">Mangroove Trees</h5>
                    <p class="card-text">The World around us is constantly changing. We are faced with many
                        environmental issues such as climate change. We
                        believe that it is our duty to help the environment; what better way to do that than by planting
                        trees? Mangrove trees
                        grow on the coast of Thailand which means that they are less likely to be cut down. If we're
                        making a difference we want
                        it to matter, to be long term. So help us make the world a better place.</p>
                    <a href="https://mangroveteens.wixsite.com/mangroveteens" class="btn btn-primary">Donate</a>
                </div>
            </div>
            <div class="card text-white bg-dark" style="margin-bottom: 20px;">
                <div class="card-body">
                    <h5 class="card-title">350.org</h5>
                    <p class="card-text">Author and activist Bill McKibben and a group of university friends founded
                        350.org in 2008, with the goal to keep the
                        global carbon dioxide concentration under 350 parts per million. They are using the power of
                        collective individuals
                        internationally to stop oil and gas development and move to 100 percent renewable energy.</p>
                    <a href="https://350.org/" class="btn btn-primary">Donate</a>
                </div>
            </div>
            <div class="card text-white bg-dark" style="margin-bottom: 20px;">
                <div class="card-body">
                    <h5 class="card-title">Climate Action Network</h5>
                    <p class="card-text">CAN is a global network of more than 1,300 environmental NGOs. With regional
                        hubs in regions including West Africa,
                        South Asia, Latin America, and Eastern Europe, the Network works to promote governmental and
                        individual action to
                        address the impacts of climate change. CAN’s working groups address a variety of issues
                        including agriculture, science
                        policy, and technology.
                    </p>
                    <a href="https://www.caribbeanclimate.bz/" class="btn btn-primary">Donate</a>
                </div>
            </div>
        </div>
    </div>

    {% endblock %}
</div>