{% extends 'whatcanido/base.html' %}
{% load static %}
<div class="jumbotron bg">
    {% block content %}
    <div class="main-content container">
        <div class="heading heading-contribute">
            {{qs.name}}
        </div>
        <div id="problem-field" style="height:fit-content"> {{qs.solution}} </div>
        <a href="{% url 'whatcanido:home' %}">

            <div class="submit-btn" style="margin: 20px;">Search for Another</div>
        </a>
        <a href="{% url 'whatcanido:contribute' %}">

            <div class="submit-btn" style="margin: 20px;">Contribute</div>
        </a>
    </div>
    {% endblock %}
</div>